/* vertical rhythm helper */
:root {
  --VerticalRhythm-helper-color: rgba(0, 0, 0, .25);
  --VerticalRhythm-helper-color--light: color(var(--VerticalRhythm-helper-color) alpha(- 33%));
  --VerticalRhythm-helper-color--lighter: color(var(--VerticalRhythm-helper-color) alpha(- 66%));
  --VerticalRhythm-helper-backgroundColor: #fff;
  --VerticalRhythm-helper-lineHeight: var(--lineHeight);
}

.VerticalRhythmHelper {
  background:
              /* vertical stripes for dashed effect */
              linear-gradient(to right,
                var(--VerticalRhythm-helper-backgroundColor) 0%,
                var(--VerticalRhythm-helper-backgroundColor) 2px,
                transparent 2px
              ) 0 0 / 6px 100%, /**/

              /* horizontal lines */
              linear-gradient(to bottom, var(--VerticalRhythm-helper-color) 1px, transparent 1px) 0 0 / 100% var(--VerticalRhythm-helper-lineHeight),
              linear-gradient(to bottom, var(--VerticalRhythm-helper-color--light), transparent 1px) 0 calc(var(--VerticalRhythm-helper-lineHeight) * 0.5) / 100% var(--VerticalRhythm-helper-lineHeight),
              linear-gradient(to bottom, var(--VerticalRhythm-helper-color--lighter), transparent 1px) 0 calc(var(--VerticalRhythm-helper-lineHeight) * 0.25) / 100% var(--VerticalRhythm-helper-lineHeight),
              linear-gradient(to bottom, var(--VerticalRhythm-helper-color--lighter), transparent 1px) 0 calc(var(--VerticalRhythm-helper-lineHeight) * 0.75) / 100% var(--VerticalRhythm-helper-lineHeight),

              var(--VerticalRhythm-helper-backgroundColor);
}
